/* =========================
   General Changes
========================= */
h3 {
  font-size: 30px;
  font-weight: bold;
}

body {
  font-family: "Georgia", serif;
}

html {
  scroll-behavior: smooth;
}

/* =========================
   Navbar Section
========================= */
.navbar {
  border-bottom: #003333 solid 4px;
}

.navbar-brand {
  color: #003333 !important;
  font-size: 27px;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  color: #1e2d2d !important;
}

/* =========================
   Header Section
========================= */
#header {
  background: url("../images/backg2.jpeg") no-repeat;
  background-size: cover;
  height: 70vh;
}

h1 {
  margin-top: 190px;
  color: #ffffff;
}

h3 {
  color: #e6ffff;
  margin-top: 20px;
}

/* =========================
   Features Section
========================= */
p {
  color: black;
}

#features {
  background-color: #ffffff;
}

#features i {
  color: #003333;
}

#features .container {
  margin-bottom: 1px;
}

#features .nav-link {
  color: black;
}

#features h3:hover {
  color: #00cccc;
  cursor: pointer;
}

/* =========================
   About Me Section
========================= */
#about {
  background-color: #0c3e3e;
}

#about .container {
  margin-bottom: 10px;
  background-color: rgb(219, 232, 233);
  /* NOTE: `size` is not a valid CSS property; keeping it commented out */
  /* size: 100px; */
}

.about {
  display: flex;
}

.about p {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  color: black;
  padding: 20px;
}

/* =========================
   Project Heads Section
========================= */
#work {
  background: url("../images/back1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#work h1 {
  color:  #ffffff;
  margin-top: 40px;
}

/* =========================
   Posts Section
========================= */
.container {
  margin-bottom: 30px;
}

#product h3 {
  color: black;
}

/* =========================
   Gallery Section
========================= */
#gallery .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.imageContainer {
  position: relative;
  cursor: pointer;
  /* NOTE: `width: 100;` missing unit; common intent is 100% */
  width: 100%;
}

.imgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 0, 26);
  opacity: 0;
}

.imageContainer:hover .imgOverlay {
  opacity: 0.5;
}

.imgText {
  position: absolute;
  color:  #ffffff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* =========================
   Footer Section
========================= */
#footer {
  bottom: 0px;
  width: 100%;
  background: #003333;
}

.contactImage {
  margin-top: 6px;
  margin-left: 80px;
  z-index: 10;
  /* NOTE: `size-adjust` is not a standard CSS property for general layout; keeping commented out */
  /* size-adjust: 10; */
}

#footer .container {
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .container .content {
  flex-basis: 50%;
  padding: 10px 20px;
  color: white;
}

#footer p {
  color: white;
}

.content h2 {
  font-size: 1.2rem;
  /* NOTE: `font-size: 600;` is invalid; likely meant font-weight */
  font-weight: 600;
  text-transform: uppercase;
}

/* =========================
   Media Queries
========================= */
@media screen and (max-width: 1200px) {
  #header {
    background-size: 1200px 100vh;
  }
}

@media screen and (max-width: 992px) {
  #header {
    background-size: 990px 100vh;
  }
}

@media screen and (max-width: 768px) {
  #header {
    background-size: 760px 100vh;
  }

  .row p {
    color: black;
  }

  .aboutMeImage {
    margin-left: 0;
    text-align: center;
    margin-top: 0;
  }

  .aboutMeArea {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  #header {
    background-size: 570px 100vh;
  }

  .aboutMeImage {
    margin-left: 0;
    text-align: center;
    margin-top: 0;
  }

  .aboutMeArea {
    margin-right: 0;
  }
}
