html { scroll-behavior: smooth; }

body{
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

h3{
  font-size:30px;
  font-weight: bold;
}

p{ color: black; }

.navbar{
  border-bottom: #003333 solid 4px;
  background-color: #008B8B; 
  
.navbar-brand{
  color:#003333 !important;
  font-size:27px;
  font-weight: bold;
}

.nav-link{
  text-transform: uppercase;
  color: #ffffff !important; 
}

.nav-link:hover{
  color: #1e2d2d !important;
}


#header{
  background: url('../images/backg2.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}


#header .overlay{
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.45); 
}

#header h1{
  margin-top: 0;    
  color: #ffffff;
}

#header h3{
  color: #e6ffff;
  margin-top: 20px;
}


#features {
  background-color:#e3f1f1;
}

#features i{
  color:#003333;
}

#features .container{
  margin-bottom: 1px;
}

#features .nav-link{
  color:black !important;
}

#features .section-link{
  color:black !important;
  text-decoration: none;
}

#features h3:hover{
  color:#00cccc;
  cursor:pointer;
}

#about {
  background-color: #0c3e3e;
}

#about .container{
  margin-bottom: 10px;
  background-color: rgb(219, 232, 233);
  padding: 24px;
  border-radius: 10px;
}

#about p{
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  color: black;
  padding: 20px;
}

#work{
  background: url(../images/back1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
}

#work h1{
  color: white;
  margin-top: 40px;
}


#work h1,
#work h1 u,
#work h1 a{
  color: white !important;
  text-decoration: none !important;
}

#cs-projects .container,
#media-projects .container,
#product .container{
  margin-bottom: 30px;
}

#product h3{
  color: black;
}

.project-img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.poster-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.logo-img{
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  background: #ffffff;
  padding: 16px;
  border-radius: 10px;
}


#gallery .col-md-3{
  padding-left: 0;
  padding-right: 0;
}

#gallery .col-md-4{
  padding-left: 0;
  padding-right: 0;
}

.imageContainer{
  position: relative;
  cursor: pointer;
  width: 100%; 
  overflow: hidden;
}

.imgOverlay{
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color:rgb(26, 0, 26);
  opacity:0;
  transition: opacity 0.2s ease;
}

.imageContainer:hover .imgOverlay{
  opacity:.5;
}

.imgText{
  position: absolute;
  color:white;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  text-align: center;
}

  
#footer{
  bottom:0px;
  width: 100%;
  background: #003333;
}

.contactImage{
  margin-top: 6px;
  margin-left: 80px;
  z-index:10;
}

#footer .container{
  margin:auto;
  padding:0 20px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap; 
}

#footer .container .content{
  flex-basis: 50%;
  padding:10px 20px;
  color:white;
}

#footer p{
  color: white;
}

.content h2{
  font-size: 1.2rem;
  font-weight: 600; 
  text-transform:uppercase;
}

  
@media screen and (max-width: 1200px){
  #header{ background-size: 1200px 100vh; }
}

@media screen and (max-width: 992px){
  #header{ background-size: 990px 100vh; }
}

@media screen and (max-width: 768px){
  #header{ background-size: 760px 100vh; }

  .row p{ color:black; }

  .aboutMeImage{
    margin-left:0;
    text-align: center;
    margin-top: 0;
  }
  .aboutMeArea{ margin-right: 0; }

  #footer .container{ justify-content: center; }
  .contactImage{ margin-left: 0; margin-top: 20px; }
}

@media screen and (max-width: 576px){
  #header{ background-size: 570px 100vh; }

  .aboutMeImage{
    margin-left:0;
    text-align: center;
    margin-top: 0;
  }
  .aboutMeArea{ margin-right: 0; }

  #footer .container{ justify-content: center; }
  .contactImage{ margin-left: 0; margin-top: 20px; }
}
